<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TaskMan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body> 
    <!--navbar start here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container"><a href="" class="navbar-brand" href="">TaskMan</a>
        <div class="d-flex ml-auto">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="globalNavbar">
          <ul class="navbar-nav d-lg-flex ml-2 order-3">
            {% if request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="/login">log in</a></li>
            <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      </nav> 
      <div>
        {% block bar %}
    
        {% endblock bar %}  
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>